<!--<div class="backdrop"></div>-->
<!--<div class="modal">-->
<!--  <div class="title">-->
<!--    <p>Новая задача</p>-->
<!--  </div>-->
<!--  <form novalidate [formGroup]="todoForm" (ngSubmit)="onSubmit()">-->
<!--    <p>-->
<!--      <mat-form-field class = "form">-->
<!--        <input matInput formControlName="text" placeholder="Название задачи..." type="text" required>-->
<!--      </mat-form-field>-->
<!--    </p>-->
<!--    <p>-->
<!--      <mat-form-field class = "form">-->
<!--        <mat-select>-->
<!--          <mat-option *ngFor="let category of categories" [value]="category.id">-->
<!--            {{category.title}}-->
<!--          </mat-option>-->
<!--        </mat-select>-->
<!--      </mat-form-field>-->
<!--    </p>-->
<!--    <div>-->
<!--    <button mat-raised-button class="button" (click)="close.emit()">отмена</button>-->
<!--    <button mat-raised-button class="button">ок</button>-->
<!--    </div>-->
<!--  </form>-->
<!--  </div>-->

