  <div class="title">
    <p>Новая задача</p>
  </div>
  <form novalidate [formGroup]="todoForm">
    <p>
      <mat-form-field class = "form">
        <input matInput formControlName="text" placeholder="Название задачи..." type="text" required>
      </mat-form-field>
    </p>
      <mat-form-field class = "form">
        <mat-select formControlName="category" [(value)]="defaultOption">
          <mat-option  *ngFor="let category of categories" [value]="category.id">
            {{category.title}}
          </mat-option>
        </mat-select>
      </mat-form-field>

    <div *ngIf="todoForm.value.category === 0">
      <mat-form-field class = "form">
        <input matInput formControlName="title" placeholder="Название новой категории..." type="text" required>
      </mat-form-field>
    </div>

    <div>
    <button mat-raised-button class="button" (click)="onNoClick()">отмена</button>
    <button mat-raised-button class="button" (click)="onSubmit()">ок</button>
    </div>
  </form>
